{{!< default}}

{{>"header"}}

<main id="trex_main" class="flex-1">
    <div class="bg-black-50 dark:bg-black-900 relative min-h-[400px] flex items-center justify-center">
        <div class="grid-bg-gray grid-bg absolute w-full h-full top-0 left-0 right-0"></div>
        <div class="relative z-20">
            {{#author}}
                <div class="flex flex-col gap-y-4 items-center text-center">
                    {{#if profile_image}}
                        <div class="relative w-[80px] h-[80px] rounded-full overflow-hidden">
                            <a href="{{url}}" class="absolute top-0 left-0 right-0 bottom-0 group hover:cursor-pointer overflow-hidden rounded-full">
                                <img
                                    src="{{img_url profile_image size='xxs'}}"
                                    data-src="{{img_url profile_image}}"
                                    alt="{{name}}"
                                    class="w-full h-full object-cover object-top lazytrex-image rounded-full group-hover:scale-[1.03] transition-[scale] duration-400"
                                    loading="lazy"
                                />
                                <span class="lazytrex-blur rounded-full"></span>
                            </a>
                        </div>
                    {{else}}
                        <div class="relative w-[80px] h-[80px] rounded-full bg-ghost-accent text-black-950 flex items-center justify-center">
                            <a href="{{url}}" class="font-heading text-3xl trex_taxonomy_name uppercase font-semibold hidden">
                                {{name}}
                            </a>
                        </div>
                    {{/if}}
                    <div class="flex flex-col gap-y-2">
                        <h1 class="text-2xl font-bold hover:underline">
                            <a href="{{url}}">
                                {{name}}
                            </a>
                        </h1>
                        {{#if location}}
                            <div class="text-sm text-black-600 font-medium">
                                <span>{{t "From"}} {{location}}</span>
                            </div>
                        {{/if}}
                    </div>
                    <div class="flex items-center gap-3 flex-wrap [&_a]:hover:opacity-90">
                        {{#if website}}<a href="{{website}}">{{>"icons/globe" size="22"}}</a>{{/if}}
                        {{#if twitter}}<a href="{{social_url type="twitter"}}">{{>"icons/twitter" size="22"}}</a>{{/if}}
                        {{#if facebook}}<a href="{{social_url type="facebook"}}">{{>"icons/facebook" size="22"}}</a>{{/if}}
                        {{#if linkedin}}<a href="{{social_url type="linkedin"}}">{{>"icons/linkedin" size="22"}}</a>{{/if}}
                        {{#if bluesky}}<a href="{{social_url type="bluesky"}}">{{>"icons/bluesky" size="22"}}</a>{{/if}}
                        {{#if threads}}<a href="{{social_url type="threads"}}">{{>"icons/threads" size="22"}}</a>{{/if}}
                        {{#if mastodon}}<a href="{{social_url type="mastodon"}}">{{>"icons/mastodon" size="22"}}</a>{{/if}}
                        {{#if tiktok}}<a href="{{social_url type="tiktok"}}">{{>"icons/tiktok" size="22"}}</a>{{/if}}
                        {{#if youtube}}<a href="{{social_url type="youtube"}}">{{>"icons/youtube" size="22"}}</a>{{/if}}
                        {{#if instagram}}<a href="{{social_url type="instagram"}}">{{>"icons/instagram" size="22"}}</a>{{/if}}
                    </div>
                    {{#if bio}}
                        <div class="text-sm max-w-lg mx-auto">{{bio}}</div>
                    {{/if}}
                    <span class="ux-arena_tag hover:!bg-ghost-accent block mt-2">
                        {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}
                    </span>
                </div>
            {{/author}}
        </div>
    </div>
    <div class="py-16 ux-arena_container_small">
        <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-x-6 gap-y-12" id="trex_blog">
            {{#foreach posts}}
                {{>"loop-big" showTagFeatured="true" size="_small" showVisibility="true"}}
            {{/foreach}}
        </div>
        <div class="py-8">
            {{pagination}}
        </div>
    </div>
</main>

{{>"footer"}}